
$container: 1200px;
$gutter: 20px;

$xl: 1200px;
$md: 1023px;
$sm: 767px;
$xs: 600px;

$tablet-width: 768px;
$desktop-width: 1150px;
$mobile-width-only: 767px;

$black: #000000;
$color-bg: #ffffff;

$font-primary: "Font", "Arial", sans-serif;
$font-title: "Font", "Arial", sans-serif;
$weight-title: 600;
$weight-primary: 400;
$size-primary: 16px;
$size-title: 20px;
